ENCODER_PORT=4300

ENCODER_APP_DATA_ROOT=~/Library/Application Support/Video Encoder
ENCODER_CACHE_ROOT=~/Library/Caches/Video Encoder
ENCODER_LOGS_ROOT=~/Library/Logs/Video Encoder

ENCODER_FFMPEG_BIN=ffmpeg
ENCODER_FFPROBE_BIN=ffprobe

ENCODER_DEFAULT_INBOX_ROOT=~/Movies/Video Encoder Inbox
ENCODER_DEFAULT_OUTBOX_ROOT=~/Movies/Video Encoder Outbox
