ENCODER_PORT=14300

ENCODER_APP_DATA_ROOT=~/Library/Application Support/Video Encoder Dev
ENCODER_CACHE_ROOT=~/Library/Caches/Video Encoder Dev
ENCODER_LOGS_ROOT=~/Library/Logs/Video Encoder Dev

ENCODER_FFMPEG_BIN=ffmpeg
ENCODER_FFPROBE_BIN=ffprobe

ENCODER_DEFAULT_INBOX_ROOT=~/Movies/Video Encoder Dev Inbox
ENCODER_DEFAULT_OUTBOX_ROOT=~/Movies/Video Encoder Dev Outbox
