ENCODER_PORT=14310

ENCODER_APP_DATA_ROOT=~/Library/Application Support/Video Encoder Package Test
ENCODER_CACHE_ROOT=~/Library/Caches/Video Encoder Package Test
ENCODER_LOGS_ROOT=~/Library/Logs/Video Encoder Package Test

ENCODER_FFMPEG_BIN=ffmpeg
ENCODER_FFPROBE_BIN=ffprobe

ENCODER_DEFAULT_INBOX_ROOT=~/Movies/Video Encoder Package Test Inbox
ENCODER_DEFAULT_OUTBOX_ROOT=~/Movies/Video Encoder Package Test Outbox
