ENCODER_PORT=4300
ENCODER_HANDOFF_ROOT=handoff
ENCODER_INTERNAL_ROOT=.internal
ENCODER_DB_HOST=127.0.0.1
ENCODER_DB_PORT=3306
ENCODER_DB_NAME=encoder
ENCODER_DB_USER=root
ENCODER_DB_PASSWORD=
ENCODER_DB_CHARSET=utf8mb4_unicode_ci
ENCODER_DB_CONNECTION_LIMIT=10
ENCODER_FFMPEG_BIN=ffmpeg
ENCODER_FFPROBE_BIN=ffprobe
ENCODER_CPU_NICE=15
ENCODER_THREADS=1
ENCODER_FILTER_THREADS=2
ENCODER_INBOX_STABILITY_WINDOW_MS=30000
ENCODER_INBOX_RECHECK_DELAY_MS=1500
ENCODER_INBOX_SCAN_INTERVAL_MS=30000
ENCODER_POST_ITEM_COOLDOWN_MS=1200000
ENCODER_CONTINUOUS_RUN_LIMIT_MS=1200000
ENCODER_PROCESS_REST_MS=300000
ENCODER_MONITOR_INTERVAL_MS=30000
